
body {
    display: flex;
    flex-direction: column;
    background: #2e2d2d;
    min-height: 100vh;
    justify-content: flex-start;
    margin: 0;
}




header {
    display: flex;
    height: 7vmin;
    max-height: 100px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.911);
    align-items: flex-end;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

header img {
    width: 15vmin;
    max-width: 250px;
}

header button {
    background-color: cyan;
    width: fit-content;
    height: 3vh;
    font-size: 1.5vmin;
    max-height: 2em;
}

header button:hover {
    background-color: magenta;
    cursor: pointer;
}



nav {
    display: flex;
    height: 2vh;
    max-height: 100px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.911);
    align-items: flex-end;
    position: sticky;
    top: 7vmin;       /* Height of the header, so the sticky follows both */
    z-index: 999; /* Ensures nav is below the header */
    justify-content: space-between;
}

nav button {
    background-color: cyan;
    width: fit-content;
    height: 3vh;
    font-size: 1vmin;
    max-height: 2em;
}

nav button:hover {
    background-color: magenta;
    cursor: pointer;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100vh; /* height set just to display the scrallability*/
    transition: margin-left 0.5s;
}




aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12em;
    background-color: black;
    color: white;
    position: fixed;
    font-size: 1vmax;
    transition: 0.5s;
}


aside p {
    color: cyan;
    text-decoration: none;
    font-size: large;
    width: fit-content;
}

aside.collapsed {
    width: 0;
    display: none;
}




content {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 12em;
    margin-right: 1vh;
    margin-bottom: 5vh;
    position: relative;
    transition: 0.5s;
}

content.collapsed{
    margin-left: 0;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 2vmin;
}

footer h5 {
    margin: 0;
}

footer img {
    width: 50px;
}

footer h5 a {
    color: cyan;
    text-decoration: none;
    margin-right: 5px;
}






















.sign-inHeader h1, .sign-inHeader p{
    color: white;
}


.sign-inHeader img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}


h3{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.sign-in{
    width: 330px;
    padding:20px;
}

.button{
    width: 375px;
    padding: 15px;
    background-color: cyan;
    color: black;
}



.landing{
    text-align: center;
    color: white;
}

.label{
    color: white;
    font-size: 15px;
}




section{
    margin-left: 35%;
}



.logos{
    margin-left:43%;
}



.centered{
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
